In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
# Load the tips dataset

tips = sns.load_dataset('tips')

# Display the first few rows of the dataset
print(tips.head())

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [6]:
# Group by 'sex' and calculate the mean of 'total_bill' and 'tip'
grouped_data = tips.groupby('sex')[['total_bill', 'tip']].mean()

# Display the grouped data
print(grouped_data)

        total_bill       tip
sex
Male     20.744076  3.089618
Female   18.056897  2.833448

In [7]:
#Problem 2: Multiple Aggregations
# Load the Titanic dataset
titanic = sns.load_dataset('titanic')

# Display the first few rows of the dataset
print(titanic.head())

   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male deck  embark_town alive  alone
0    man        True  NaN  Southampton    no  False
1  woman       False    C    Cherbourg   yes  False
2  woman       False  NaN  Southampton   yes   True
3  woman       False    C  Southampton   yes  False
4    man        True  NaN  Southampton    no   True

In [8]:
# Group by 'class' and apply aggregations
grouped_data = titanic.groupby('class').agg({
    'age': ['mean', 'std'],          # Mean and standard deviation of age
    'fare': ['sum', 'mean']          # Total and average fare
})

# Display the grouped and aggregated data
print(grouped_data)

              age                   fare
             mean        std         sum       mean
class
First   38.233441  14.802856  18177.4125  84.154687
Second  29.877630  14.001077   3801.8417  20.662183
Third   25.140620  12.495398   6714.6951  13.675550

In [9]:
# Problem 3
# Load the diamonds dataset
diamonds = sns.load_dataset('diamonds')

# Define a custom aggregation function to calculate the range (max - min)
def price_range(x):
    return x.max() - x.min()

# Group by 'cut' and apply the custom aggregation function to the 'price' column
grouped_data = diamonds.groupby('cut').agg({
    'price': price_range
})

# Rename the column for clarity
grouped_data.rename(columns={'price': 'price_range'}, inplace=True)

# Display the results
print(grouped_data)

           price_range
cut
Ideal            18480
Premium          18497
Very Good        18482
Good             18461
Fair             18237

In [10]:
# Problem 4
import seaborn as sns
import pandas as pd

# Load the tips dataset
tips = sns.load_dataset('tips')

# Create a pivot table to show the average total bill for each day and time
pivot_table = tips.pivot_table(
    values='total_bill',  # Column to average
    index='day',          # Rows: unique days
    columns='time',       # Columns: unique times (Lunch/Dinner)
    aggfunc='mean'        # Aggregation function: mean
)

# Display the pivot table
print(pivot_table)

time      Lunch     Dinner
day
Thur  17.664754  18.780000
Fri   12.845714  19.663333
Sat         NaN  20.441379
Sun         NaN  21.410000

In [13]:
# Problem 6
# Load the Titanic dataset
titanic = sns.load_dataset('titanic')

# Display the first few rows of the dataset
print(titanic.head())

   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male deck  embark_town alive  alone
0    man        True  NaN  Southampton    no  False
1  woman       False    C    Cherbourg   yes  False
2  woman       False  NaN  Southampton   yes   True
3  woman       False    C  Southampton   yes  False
4    man        True  NaN  Southampton    no   True